<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    {{!-- <h1>Help</h1>
     <a href="/">Weather</a>
     <a href="/about">About</a>
    <a href="/help">Help</a> --}}
    <p>{{helpText}}</p>
    {{>footer}}
</body>

</html>